<section id="main" class="main-section">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i0.wp.com/diahcuisineonline.co.uk/wp-content/uploads/2021/02/Yellow-eba.jpg?resize=450%2C450&ssl=1" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://ingmar.app/blog/wp-content/uploads/2015/05/Nigeria-Jollof-rice.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://diahcuisineonline.co.uk/wp-content/uploads/2021/02/Ewa-agoyin.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
                <!--Outer Carousel-->
   <div id="ls-size-carousel" class="container viewport">
     <div class="row ">
<div class="col-4">
 <img src="https://i0.wp.com/diahcuisineonline.co.uk/wp-content/uploads/2021/02/Yellow-eba.jpg?resize=450%2C450&ssl=1" style="width:100%">
 <h3>Eba and Egusi Soup</h3>
</div>
<div class="col-4">
 <img src="https://ingmar.app/blog/wp-content/uploads/2015/05/Nigeria-Jollof-rice.jpg" style="width:100%">
 <h3>Jollof Rice with Plantain, and Chicken</h3>
</div>
<div class="col-4">
 <img src="https://diahcuisineonline.co.uk/wp-content/uploads/2021/02/Ewa-agoyin.jpg" style="width:100%">
 <h3>Ewa Agonyin and Fried Plantain</h3>
</div>
</div>
   </div>

</section>

             <!--Search -->
  <section class="Search">
    <div class="container">
    <div class="row search">
    <div class="col-lg-6">
    <input class="search-box" type="text" name="" value="" placeholder="Browse Through our Categories">
    </div>
    <div class="col-lg-6">

    </div>
    </div>
    </div>
   </section>



















<section id="About" class="about-section">
<div id="ls-size" class="container about-container">
<div class="row ">
   <div class="col-4 about-text">
     <h3>Hi! I'm Yetunde Olounjeiya</h3>
     <p>an unapologetic foodie</p>
     <p>Hi! I’m Yetunde Morenikeji, an unapologetic foodie. I love to eat and explore exciting indigenous Nigerian dishes/meals.
I also love to write and document personal fun reviews of native meals; bringing the nostalgia of your favorite foods to your screens. </p>
     <button class=" abt-button" type="button" name="button" onclick="location.href='/about'">READ MORE</button>
  </div>
  <div class="col-4">
    <img src="/css/DSC_2844.JPG" alt="Forest" style="width:100%">
  </div>
  <div class="col-4 about-text">
    <h3>On the other Side</h3>
    <p>I'm a freelance writer and Web developer</p>
    <p>Yes, you guessed right; this website was developed by yours truly.
On days you don’t find me in the ice-cream store or local canteens, I’m probably hunched over my laptop, writing and debugging codes.</p>
    <button class=" abt-button" type="button" name="button" onclick="location.href='/about'">READ MORE</button>
  </div>
</div>
</div>

<div id="mobile-about"          class="about-mobile">
  <img src="/image/DSC_2844 (2).JPG" alt="" class="about-img">
  <h3>Hi! I'm Yetunde Olounjeiya</h3>
  <p>an unapologetic foodie</p>
  <p>Hi! I’m Yetunde Morenikeji, an unapologetic foodie. I love to eat and explore exciting Nigerian dishes/meals.
    I also love to write and document personal fun reviews of native meals; bringing the nostalgia of your favorite foods to your screens. </p>
  <button class=" abt-button" type="button" name="button" onclick="location.href='/about'">READ MORE</button>
</div>
</section>


<form action="/" method="POST" class="newsletter">
  <div class="row">
    <div class="col-md-6">
      <h5>Subscribe to our newsletter</h5>
      <p>Heyy! What if I told you I can send you a monthly digest of what’s new and exciting from us,
        at zero cost, and you don’t even have to worry about delivery fee!</p>
    </div>

    <div class="col-md-6">
      <div class="d-flex w-100 gap-2">
        <label for="newsletter1" class="visually-hidden">Your Name</label>
        <input id="newsletter1" type="text" name="fName" class="form-control" placeholder="Your Name">
        <label for="newsletter1" class="visually-hidden">Email address</label>
        <input id="newsletter1" type="text" name="email" class="form-control" placeholder="Your Email Address">
        <button class="w-100 btn btn-dark" type="submit">Sign Me Up!</button>
      </div>
    </div>
  </div>


</form>
