<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/compose" method="POST" encType="multipart/form-data">
  <div class="form-group">

    
    <!-- Corrected HTML Tag for Image file input,
      I set the name attribute to imageFile because that is what the backend would recieve in the post request body.
     --> 
    <label for="image">Image</label>

    <input name="imageFile" value="Upload Image" type="file" id="url_input" class="form-control" />


    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" value="">

    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="7" cols="50"></textarea>


  </div>


  <button id="btn" class="btn btn-warning" type="submit" name="button">Publish</button>
</form>


<%- include("partials/footer")  -%>
